body {
    display: flex;
    flex-direction: column;
}

#loading-screen {
    background-color: var(--color-neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-index-overlay);
}

#loading-container {
    position: absolute;
    display: flex;
    gap: var(--gap-xxlarge);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-text {
    font-family: Onest-Bold;
    font-size: var(--font-size-xxlarge);
    font-weight: bold;
    color: var(--color-neutral-50);
}

#loading-logo {
    width: 64px;
    height: 64px;
    animation: spin-clockwise var(--transition-xslow) linear infinite;
}

#loading-logo:hover {
    animation-play-state: paused;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;

    box-sizing: border-box;
    background-color: var(--color-neutral-950);
    box-shadow: var(--shadow-bottom-hard);
    padding: var(--padding-none) var(--padding-xxlarge);
    z-index: var(--z-index-low);
}

#logo-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xlarge);
}

#version-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--color-yellow-900);
    border: var(--border-small) solid var(--color-yellow-500);
    border-radius: var(--radius-medium);
}

#version-tag-text {
    font-family: Onest-Bold;
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    color: var(--color-neutral-50);
    padding: var(--padding-medium);
}

#logo-image {
    width: 36px;
    height: 36px;
}

#logo-text {
    font-family: Onest-Bold;
    font-size: var(--font-size-xxlarge);
    line-height: 0px;
    font-weight: bold;
    color: var(--color-neutral-50);
}

/* Container */
#documentation-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#sidebar {
    flex-direction: column;

    width: 250px;

    padding: var(--padding-xxlarge);
    background-color: var(--color-neutral-950);
}

#content {
    box-sizing: border-box;

    padding: var(--padding-none) var(--padding-xxlarge);

    background-color: var(--color-neutral-900);

    height: 100%;
    flex: 1;
}

/* Control Page */
#toggle-button-showcaser {
    width: 200px;
}

#scroller-showcaser {
    width: 250px;
    height: 100px;
}

#separator-showcaser {
    width: 800px;
    height: 350px;
}

#socket-showcaser {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}

.socket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socket-item {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--color-neutral-900);
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Noto-Sans-Regular';
    font-size: var(--font-size-small);
}

/* Color Page */
.color-showcaser {
    display: flex;
    flex-direction: row;
}

.color-showcaser span {
    color: white;
    font-family: 'Noto-Sans-Regular';
}

.color-showcaser div {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    outline: var(--outline-medium) solid var(--color-neutral-500);
    outline-style: dashed;
}

/* Animation Page */
#animations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 128px);
    grid-auto-rows: 128px;
    gap: 10px;
}

#animations-container>div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

#animation-box-grow {
    animation: grow var(--transition-slow) infinite;
}

#animation-box-grow-to-normal {
    animation: grow-to-normal var(--transition-slow) infinite;
}

#animation-box-grow-big {
    animation: grow-big var(--transition-slow) infinite;
}

#animation-box-grow-big-to-normal {
    animation: grow-big-to-normal var(--transition-slow) infinite;
}

#animation-box-shrink {
    animation: shrink var(--transition-slow) infinite;
}

#animation-box-shrink-to-normal {
    animation: shrink-to-normal var(--transition-slow) infinite;
}

#animation-box-shrink-big {
    animation: shrink-big var(--transition-slow) infinite;
}

#animation-box-shrink-big-to-normal {
    animation: shrink-big-to-normal var(--transition-slow) infinite;
}

#animation-box-grow-to-shrink {
    animation: grow-to-shrink var(--transition-slow) infinite;
}

#animation-box-grow-to-shrink-big {
    animation: grow-to-shrink-big var(--transition-slow) infinite;
}

#animation-box-fade-in-slide {
    animation: fade-in-slide var(--transition-slow) infinite;
}

#animation-box-fade-out-slide {
    animation: fade-out-slide var(--transition-slow) infinite;
}

#animation-box-spin-clockwise {
    animation: spin-clockwise var(--transition-xxslow) linear infinite;
}

/* Font Page */
.onest-thin {
    font-family: Onest-Thin;
}

.onest-regular {
    font-family: Onest-Regular;
}

.onest-bold {
    font-family: Onest-Bold;
}

.noto-sans-thin {
    font-family: Noto-Sans-Thin;
}

.noto-sans-regular {
    font-family: Noto-Sans-Regular;
}

.noto-sans-bold {
    font-family: Noto-Sans-Bold;
}

/* Pages */
.page {
    display: none;
}

.page.shown {
    display: block;
    animation: fade-in-slide var(--transition-medium) forwards;
}