.sample-component {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: var(--padding-large);
    background-color: var(--surface-1);
    outline: var(--outline-small) solid var(--control-border-normal);
    border-radius: var(--radius-medium);
    gap: var(--gap-large);
}

.sample-component h2 {
    font-family: 'Noto-Sans-Regular';
    font-size: var(--font-size-xxlarge);
    color: var(--text-primary);
    mix-blend-mode: difference;
    line-height: 0;
}