:root {
    --color-blue-50: #ecf4ff;
    --color-blue-100: #ddebff;
    --color-blue-200: #c2d9ff;
    --color-blue-300: #9cbeff;
    --color-blue-400: #7599ff;
    --color-blue-500: #4c6dff;
    --color-blue-600: #364af5;
    --color-blue-700: #2a39d8;
    --color-blue-800: #2533ae;
    --color-blue-900: #263389;
    --color-blue-950: #161b50;
}