:root {
    --color-cyan-50: #ebfffd;
    --color-cyan-100: #cefffc;
    --color-cyan-200: #a2fffc;
    --color-cyan-300: #63fdf9;
    --color-cyan-400: #1cf4f2;
    --color-cyan-500: #00e1e2;
    --color-cyan-600: #03adb7;
    --color-cyan-700: #0a8994;
    --color-cyan-800: #126d78;
    --color-cyan-900: #145a65;
    --color-cyan-950: #063d46;
}