:root {
    --color-green-50: #e7ffe4;
    --color-green-100: #c9ffc5;
    --color-green-200: #97ff92;
    --color-green-300: #57ff53;
    --color-green-400: #20fb22;
    --color-green-500: #00e606;
    --color-green-600: #00b50a;
    --color-green-700: #02890a;
    --color-green-800: #086c0f;
    --color-green-900: #0c5b13;
    --color-green-950: #003306;
}