:root {
    --color-neutral-50: rgb(95%, 95%, 95%);
    --color-neutral-100: rgb(90%, 90%, 90%);
    --color-neutral-200: rgb(80%, 80%, 80%);
    --color-neutral-300: rgb(70%, 70%, 70%);
    --color-neutral-400: rgb(60%, 60%, 60%);
    --color-neutral-500: rgb(50%, 50%, 50%);
    --color-neutral-600: rgb(40%, 40%, 40%);
    --color-neutral-700: rgb(30%, 30%, 30%);
    --color-neutral-800: rgb(20%, 20%, 20%);
    --color-neutral-900: rgb(10%, 10%, 10%);
    --color-neutral-950: rgb(5%, 5%, 5%);
}