:root {
    --color-orange-50: #fffcea;
    --color-orange-100: #fff5c5;
    --color-orange-200: #ffeb85;
    --color-orange-300: #ffda46;
    --color-orange-400: #ffc71b;
    --color-orange-500: #ffa500;
    --color-orange-600: #e27c00;
    --color-orange-700: #bb5502;
    --color-orange-800: #984208;
    --color-orange-900: #7c360b;
    --color-orange-950: #481a00;
}