:root {
    --color-purple-50: #fbf5ff;
    --color-purple-100: #f5e7ff;
    --color-purple-200: #edd3ff;
    --color-purple-300: #dfb1ff;
    --color-purple-400: #cc80ff;
    --color-purple-500: #b84ffd;
    --color-purple-600: #a52cf1;
    --color-purple-700: #8f1cd4;
    --color-purple-800: #781cad;
    --color-purple-900: #62188b;
    --color-purple-950: #440467;
}