:root {
    --color-red-50: #fff1f1;
    --color-red-100: #ffdfdf;
    --color-red-200: #ffc5c5;
    --color-red-300: #ff9d9d;
    --color-red-400: #ff6464;
    --color-red-500: #ff2323;
    --color-red-600: #ed1515;
    --color-red-700: #c80d0d;
    --color-red-800: #a50f0f;
    --color-red-900: #881414;
    --color-red-950: #4b0404;
}