:root {
    --color-yellow-50: #fbffe7;
    --color-yellow-100: #f4ffc1;
    --color-yellow-200: #eeff86;
    --color-yellow-300: #ecff41;
    --color-yellow-400: #f2ff0d;
    --color-yellow-500: #ffff00;
    --color-yellow-600: #d1bf00;
    --color-yellow-700: #a68b02;
    --color-yellow-800: #896c0a;
    --color-yellow-900: #74580f;
    --color-yellow-950: #443004;
}