/* Action History Container */
.action-history-container {
    display: flex;
    width: 200px;
    flex-direction: column;
    box-sizing: border-box;

    /* Spacing and Borders */
    margin: var(--margin-none);
    border-radius: var(--radius-small);
    background-color: transparent;
    border: var(--border-medium) solid var(--surface-2);
}

/* Action History Header */
.action-history-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xlarge);
    background-color: var(--surface-2);
    color: var(--text-primary);
    font-family: 'Noto-Sans-Regular';
}

/* Action History Content */
.action-history-content {
    display: flex;
    flex-direction: column;
    margin: var(--margin-medium);
    gap: var(--gap-medium);
    min-height: 5px;
}

/* Action History Actions */
.action-history-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-large);
    background-color: var(--surface-2);
    border-radius: var(--radius-small);
    gap: var(--gap-large);
}

.action-history-item.undone {
    opacity: 0.5;
}

.action-history-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--surface-1);
    border-radius: var(--radius-small);
    border: var(--border-small) solid var(--control-border-normal);
}

.action-history-item .info {
    display: flex;
    flex-direction: column;
}

.action-history-item .info .text {
    font-family: 'Noto-Sans-Regular';
    font-size: var(--font-size-large);
    color: var(--text-primary);
}

.action-history-item .info .time {
    font-family: 'Noto-Sans-Regular';
    font-size: var(--font-size-small);
    color: var(--text-disabled);
}