/* Code Container */
.code-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /* Spacing and Borders */
    margin: var(--margin-none);
    border-radius: var(--radius-small);
    background-color: transparent;
    border: var(--border-medium) solid var(--surface-2);
}

/* Code Header */
.code-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xlarge);
    background-color: var(--surface-2);
    color: var(--text-primary);
    font-family: 'Noto-Sans-Regular';
}

/* Code Styler Block */
.code-container pre {
    margin: var(--margin-none);
    padding: var(--padding-xlarge);
    white-space: pre-wrap;
}

/* Code Text Itself */
.code-container code {
    color: var(--text-primary);
}

/* Copy Button */
.code-header button {
    margin-left: auto;
}

/* PrismJS Styling */
pre[class*="language-"] {
    background: transparent !important;
    margin: var(--margin-none) !important;
    padding: var(--padding-large);
    width: fit-content;
    overflow-x: auto !important;
}

pre[class*="language-"] code {
    font-size: var(--font-size-large);
    white-space: pre-wrap !important;
    word-break: break-word !important;
    display: block;
}