/* Collapsible Menu Container */
.collapsible-menu-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /* Spacing and Borders */
    margin: var(--margin-none);
    border-radius: var(--radius-small);
    background-color: transparent;
    outline: var(--border-medium) solid var(--control-border-accent);

    /* Visual Effects */
    transition: var(--transition-fast);
    user-select: none;
}

.collapsible-menu-container:hover {
    outline-width: var(--outline-large);
}

/* Collapsible Menu Header */
.collapsible-menu-container .menu-header {
    position: sticky;
    top: 0;
	width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--radius-small) var(--radius-small) var(--radius-none) var(--radius-none);
    padding: var(--padding-xlarge);
    background-color: var(--surface-2);
    color: var(--text-primary);
    font-family: 'Noto-Sans-Regular';
    cursor: pointer;
}

/* Collapsible Menu Header Text */
.collapsible-menu-container span {
    font-family: Noto-Sans-Regular;
    color: var(--text-primary);
    white-space: pre-wrap;
    user-select: none;
}

/* Icon */
.collapsible-menu-container svg {
    fill: var(--control-fg-primary);

    min-width: var(--icon-large);
    min-height: var(--icon-large);
    max-width: var(--icon-large);
    max-height: var(--icon-large);

    transition: var(--transition-medium);
}

.collapsible-menu-container .menu-header.active .collapse-icon {
    transition: var(--transition-medium);
    transform: rotate(180deg);
}

.collapsible-menu-container .menu-content {
    max-height: 0;
	width: auto;
    padding: var(--padding-none);
    transition: var(--transition-medium);
    overflow: hidden;
}

.collapsible-menu-container .menu-content.active {
    padding: var(--padding-xlarge);
}

.collapsible-menu-container .menu-header .spacer {
    margin-left: auto;
}