/* ==================== */
/* Color Picker Preview */
/* ==================== */
.colorpicker-preview {
    width: 50px;
    height: 20px;
    border-radius: var(--radius-small);
    background-color: red;
}

/* ================= */
/* Color Picker Popup */
/* ================= */
.colorpicker-popup {
    /* Layout */
    display: none;
    position: absolute;
    flex-direction: column;
    width: fit-content;
    
    /* Spacing */
    margin-top: var(--margin-medium);
    padding: var(--padding-xlarge);
    gap: var(--gap-xxlarge);
    
    /* Appearance */
    outline: var(--outline-small) solid var(--control-border-normal);
    border-radius: var(--radius-small);
    background-color: var(--surface-1);
    
    /* Stacking */
    z-index: var(--z-index-overlay);
}

.colorpicker-popup.active {
    display: flex;
}

.colorpicker-popup-content {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xlarge);
    height: 250px;
}

.colorpicker-popup-left,
.colorpicker-popup-right {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    flex: 1;
}

.colorpicker-popup-action {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}

.colorpicker-popup-action > * {
    flex: 1;
}

/* ==================== */
/* Color Canvas Section */
/* ==================== */
.colorpicker-color-canvas-container {
    position: relative;
    width: 200px;
    height: 100px;
}

.colorpicker-color-canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: red;
    border-radius: var(--radius-small);
    cursor: crosshair;
}

.colorpicker-color-canvas-marker {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0px;
    left: 200px;
    border: var(--border-medium) solid var(--control-fg-primary);
    border-radius: var(--radius-circle);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* ================= */
/* Color Row Section */
/* ================= */
.colorpicker-color-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: var(--radius-small);
    overflow: hidden;
}

.colorpicker-picker-old-preview,
.colorpicker-picker-new-preview {
    flex: 1;
    min-height: 24px;
    background-color: red;
}

/* ====================== */
/* Hue Slider Components */
/* ====================== */
.colorpicker-hue-slider-container {
    position: relative;
}

.colorpicker-hue-slider {
    width: 100%;
    height: 20px;
    display: block;
    background-color: red;
    border-radius: var(--radius-small);
}

.colorpicker-hue-slider-marker {
    position: absolute;
    top: 0;
    left: -2.5px;
    width: 5px;
    height: 20px;
    background-color: var(--control-fg-primary);
    border-radius: var(--radius-small);
    pointer-events: none;
}

/* ======================== */
/* Alpha Slider Components */
/* ======================== */
.colorpicker-alpha-slider-container {
    position: relative;
}

.colorpicker-alpha-slider {
    width: 100%;
    height: 20px;
    display: block;
    background-color: gray;
    border-radius: var(--radius-small);
}

.colorpicker-alpha-slider-marker {
    position: absolute;
    top: 0;
    right: -2.5px;
    width: 5px;
    height: 20px;
    background-color: var(--control-fg-primary);
    border-radius: var(--radius-small);
    pointer-events: none;
}

/* ===================== */
/* Hex Code Input Section */
/* ===================== */
.colorpicker-hex-code-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-small);
    box-sizing: border-box;
}

.colorpicker-hex-code {
    width: auto;
}

/* ====================== */
/* Color Swatch Section */
/* ====================== */
.colorpicker-swatch-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: var(--gap-large);
    box-sizing: border-box;
}

.colorpicker-swatch-label {
    font-family: 'Noto Sans';
    font-size: var(--font-size-large);
    color: var(--text-primary);
}

.colorpicker-swatch-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--gap-medium);
    height: 112px;
    padding: var(--padding-large);
    border: var(--border-small) solid var(--control-border-normal);
    border-radius: var(--radius-small);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.colorpicker-swatch-grid::-webkit-scrollbar {
    display: none;
}

.colorpicker-swatch-color {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: var(--radius-small);
    cursor: pointer;
}

.colorpicker-swatch-color.selected {
    outline: var(--border-small) solid var(--control-fg-primary);
}

.colorpicker-swatch-color:hover {
    animation: grow-big var(--transition-fast) forwards;
}

.colorpicker-swatch-color:not(:hover) {
    animation: grow-big-to-normal var(--transition-fast) forwards;
}