h2 {
    margin: var(--margin-xxlarge) var(--margin-none);
    
    font-family: Noto-Sans-Bold;
    font-weight: bold;
    color: var(--text-primary);
}

h2.no-top-margin {
    margin-top: var(--margin-none);
}

h2.no-bottom-margin {
    margin-bottom: var(--margin-none);
}

h2.no-margin {
	margin: var(--margin-none);
}