p {
    font-family: Noto-Sans-Regular;
    color: var(--color-neutral-50);
}

p.no-top-margin {
    margin-top: var(--margin-none);
}

p.no-bottom-margin {
    margin-bottom: var(--margin-none);
}

p.no-margin {
    margin: var(--margin-none);
}