.property {
    /* Display */
    width: fit-content;
    margin: var(--margin-none);
    padding: var(--padding-medium);
    border-radius: var(--radius-small);

    /* Typography */
    font-family: monospace;
    background-color: var(--surface-2);
    color: var(--text-primary);
}