.slider-title {
    /* Typography */
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--font-size-large);
    color: var(--color-neutral-50);
    text-align: left;
    width: fit-content;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-large);
    width: fit-content;
}

.slider {
    flex-grow: 1;
    height: 8px;
    background: linear-gradient(to right, var(--color-neutral-50) 0%, var(--color-neutral-800) 0%);
    border-radius: var(--radius-small);
    margin: var(--margin-none);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: var(--border-none);
    border-radius: var(--radius-circle);
    cursor: pointer;
    background-color: var(--color-neutral-950);
    outline: var(--outline-medium) solid white;
    outline-offset: -2px;
    transition: var(--transition-fast);
}

.slider::-moz-range-thumb:hover {
    outline-width: var(--outline-large);
}

.slider-value {
    /* Typography */
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--font-size-large);
    color: var(--color-neutral-50);
    width: fit-content;
}

.slider-group {
    display: flex;
    box-sizing: border-box;
    width: fit-content;

    gap: var(--gap-xlarge);
}

.slider-group.vertical {
    flex-direction: column;
    height: 100%;
}

.slider-group.horizontal {
    flex-direction: row;
    width: 100%;
}