/* ===================== */
/* SLIDER BASE STYLES */
/* ===================== */
.slider {
  /* Layout */
  flex-grow: 1;
  height: 8px;
  
  /* Box Model */
  margin: var(--margin-none);
  border: var(--border-medium) solid var(--control-bg-accent);
  border-radius: var(--radius-medium);
  
  /* Visual */
  background: linear-gradient(
    to right,
    var(--control-bg-normal) 0%,
    var(--control-bg-accent-strong) 0%
  );
  -webkit-appearance: none;
  appearance: none;
}

/* ===================== */
/* SLIDER THUMB */
/* ===================== */

/* These are separate because for some fucking reason chromium ignores it when combined*/
.slider::-webkit-slider-thumb {
  /* Dimensions */
  width: 20px;
  height: 20px;

  /* Box Model */
  border: var(--border-none);
  border-radius: var(--radius-circle);
  outline: var(--outline-medium) solid var(--control-border-normal);
  outline-offset: -2px;

  /* Visual */
  background-color: var(--control-fg-secondary);
  cursor: pointer;
  transition: var(--transition-fast);

  /* Browser Reset */
  -webkit-appearance: none;
}

.slider::-moz-range-thumb {
  /* Dimensions */
  width: 20px;
  height: 20px;

  /* Box Model */
  border: var(--border-none);
  border-radius: var(--radius-circle);
  outline: var(--outline-medium) solid var(--control-border-normal);
  outline-offset: -2px;

  /* Visual */
  background-color: var(--control-fg-secondary);
  cursor: pointer;
  transition: var(--transition-fast);

  /* Browser Reset */
  appearance: none;
}

.slider::-webkit-slider-thumb:hover {
  outline-width: var(--outline-large);
}

.slider::-moz-range-thumb:hover {
  outline-width: var(--outline-large);
}

/* ===================== */
/* SLIDER TEXT ELEMENTS */
/* ===================== */
.slider-title,
.slider-value {
  /* Typography */
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--font-size-large);
  color: var(--text-primary);
  
  /* Layout */
  width: fit-content;
}

.slider-title {
  text-align: left;
}

/* ===================== */
/* SLIDER LAYOUTS */
/* ===================== */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-large);
  width: fit-content;
}

.slider-group {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  gap: var(--gap-xlarge);
}

.slider-group.vertical {
  flex-direction: column;
  height: 100%;
}

.slider-group.horizontal {
  flex-direction: row;
  width: 100%;
}