/* ===================== */
/* SOCKET BASE STYLES */
/* ===================== */
.socket {
    /* Dimensions */
    min-width: 60px;
    min-height: 60px;

    /* Box Model */
    margin: var(--margin-small);
    border-radius: var(--radius-small);

    /* Visual */
    background-color: transparent;
    outline: var(--outline-medium) solid var(--control-border-accent);

    /* Contains absolutely positioned children */
    position: relative;
}